* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #000;
    background-image: url('image/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  li{
   list-style: none;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }

  a:hover{
   color:#ff8c00; 
  }

  /*HEADER*/

  header{
    position: relative ;
    padding: 0 2rem;
  }
  .navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  /*LOGO/IMG*/

  .logo {
    width: 90px;
    height: auto;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}





.logo img {
    width: 100%;
    height: 100%;
}
/*FIM LIGO/IMG*/

  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar .links{
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn{
    
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action_btn{
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition:scale 0.3 ease;
  }

  .action_btn:hover{
    border-radius: 10px;
    scale: 1.05;
    color: #fff;
  }
  .action_btn:active{
    scale: 1.05;
    
  }

  /*DROPDOW MENU*/
  .dropdown_menu{
    display:none;
    position:absolute;
    right: 2rem;
    top: 90px;
    height:0;
    width:380 px;
    background:0 rgb( 255, 255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    

    
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .dropdown_menu.open{
  height: 260px;
 }
  
  .dropdown_menu li{
padding: 0.7rem;
display: flex;
align-items: center;
justify-content: center;
  }
 
 .dropdown_menu .action_btn{
 width:100%;
 display: flex;
 justify-content: center
 }

/* HOME*/

section#home{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#home h1{
  font-size: 2.5rem;
  color: #fff;
  
}

#home span{
  color: #ff8c00;
}

#home h2{
  color: #D3D3D3;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 12px;
}

  #home p{
  font-size: 1rem;
}


  /* RESPONSIVIDade*/

  @media (max-width: 932px) {

    
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
      display: block;
    }

    .navbar{
      position: relative;
    }
   
  }


  @media (max-width: 576px){
    .dropdown_menu{
      left: 2rem;
      width: unset;
    }

    .navbar{
      position: relative;
    }
  
  }
